@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.paper-badge {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  background-color: $ng-paper-color__muted;
  border: 2px solid $ng-paper-color__primary;
  border-color: transparent;
  color: #fff;
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  text-indent: 0;
  margin-left: 2px;

  &.primary {
    background-color: $ng-paper-color__primary;
  }

  &.secondary {
    background-color: $ng-paper-color__secondary;
  }

  &.success {
    background-color: $ng-paper-color__success;
  }

  &.warning {
    background-color: $ng-paper-color__warning;
  }

  &.danger {
    background-color: $ng-paper-color__danger;
  }

  &.muted {
    background-color: $ng-paper-color__muted;
  }
}
