@import "../styles/colors.scss";
@import "../styles/typography.scss";

@mixin alertModifier($color, $bg, $btnColor, $btnStateColor) {
  border-color: $color;
  color: $color;

  .ng-paper-alert__header {
    background-color: $bg;
    border-bottom: 2px solid $color;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;

    .btn-close {
      color: $btnColor;

      &:active,
      &:focus,
      &:hover {
        color: $btnStateColor;
      }
    }
  }
}



.ng-paper-alert {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid $ng-paper-color__primary;
  margin-bottom: 20px;
  width: 40%;
  font-family: Neucha, sans-serif;

  &--dismissible {
    transition: all 235ms ease-in-out 0s;
    display: flex;
    justify-content: space-between;
    max-height: 48rem;
    overflow: hidden;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 7px;

    .btn-close {
      transition: all 235ms ease-in-out 0s;
      color: #5b5a57;
      cursor: pointer;
      margin-left: 0.75rem;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 2px;
      right: 2px;

      &:active,
      &:focus,
      &:hover {
        color: #272625;
      }
    }
  }

  &__body {
    padding: 7px;
  }

  &--secondary {
    @include alertModifier($ng-paper-color__secondary, $ng-paper-color__background-secondary, #128bff, #0057ab);
  }

  &--success {
    @include alertModifier($ng-paper-color__success, $ng-paper-color__background-success, #9fb681, #6c844d);
  }

  &--warning {
    @include alertModifier($ng-paper-color__warning, $ng-paper-color__background-warning, #e5d970, #cab925);
  }

  &--danger {
    @include alertModifier($ng-paper-color__danger, $ng-paper-color__background-danger, #cb453c, #7f2722);
  }
}
