<div
  *ngFor="let alert of alerts; let i = index"
  class="ng-paper-alert"
  [ngClass]="getAlertClass(alert)"
>
  <div class="ng-paper-alert__header">
    <span class="title">Success</span>
    <button
      class="btn-close"
      *ngIf="alert?.dismissible"
      (click)="onDismissAlert(i)"
    >
      <i>X</i>
    </button>
  </div>
  <div class="ng-paper-alert__body">
    {{ alert?.content }}
  </div>
</div>
