@import "../../styles/colors.scss";
@import '../../styles/typography.scss';

// TODO: cleanup duplicate styles with mixin
.paper-btn {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  align-self: center;
  background: 0 0;
  border: 2px solid $ng-paper-color__primary;
  color: $ng-paper-color__primary;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  outline: 0;
  padding: 0.75rem;
  background: #fff;
  display: inline-block;
  text-decoration: none;

  // variations
  &.btn-primary {
    background-color: $ng-paper-color__background-primary;
    border-color: $ng-paper-color__primary;
    color: #fff;

    &:hover:active {
      background-color: $ng-paper-color__primary-beta;
    }
  }

  &.btn-secondary {
    background-color: $ng-paper-color__background-secondary;
    border-color: $ng-paper-color__secondary;
    color: $ng-paper-color__primary;

    &:hover:active {
      background-color: $ng-paper-color__secondary-beta;
    }

  }

  &.btn-success {
    background-color: $ng-paper-color__background-success;
    border-color: $ng-paper-color__success;
    color: $ng-paper-color__primary;

    &:hover:active {
      background-color: $ng-paper-color__success-beta;
    }
  }

  &.btn-warning {
    background-color: $ng-paper-color__background_warning;
    border-color: $ng-paper-color__warning;
    color: $ng-paper-color__primary;

    &:hover:active {
      background-color: $ng-paper-color__warning-beta;
    }
  }

  &.btn-danger {
    background-color: $ng-paper-color__background_danger;
    border-color: $ng-paper-color__danger;
    color: $ng-paper-color__primary;

    &:hover:active {
      background-color: $ng-paper-color__danger-beta;
    }
  }

  &.btn-muted {
    background-color: $ng-paper-color__background_muted;
    border-color: $ng-paper-color__muted;
    color: $ng-paper-color__primary;

    &:hover:active {
      background-color: $ng-paper-color__muted-beta;
    }
  }

  // sizes
  &.btn-large {
    transition: all 235ms ease 0s;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    padding: 1rem;
  }

  &.btn-small {
    transition: all 235ms ease 0s;
    box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  &:hover {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    border: 2px solid $ng-paper-color__secondary;
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.2);
    transition: none;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 520px) {
  .paper-btn {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
  }
}
