/*
 
   ____                          ____      _                
  |  _ \ __ _ _ __   ___ _ __   / ___|___ | | ___  _ __ ___ 
  | |_) / _` | '_ \ / _ \ '__| | |   / _ \| |/ _ \| '__/ __|
  |  __/ (_| | |_) |  __/ |    | |__| (_) | | (_) | |  \__ \
  |_|   \__,_| .__/ \___|_|     \____\___/|_|\___/|_|  |___/
             |_|                                            
 
*/
// Primary
$ng-paper-color__primary: #41403e;
$ng-paper-color__primary-beta: #a8a6a3;
$ng-paper-color__background-primary: #c1c0bd;

// Secondary
$ng-paper-color__secondary: #0071de;
$ng-paper-color__secondary-beta: #abd6ff;
$ng-paper-color__background-secondary: #deefff;

// Success
$ng-paper-color__success: #86a361;
$ng-paper-color__success-beta: #b7c9a1;
$ng-paper-color__background-success: #d0dbc2;

// Warning
$ng-paper-color__warning: #ddcd45;
$ng-paper-color__warning-beta: #ede49b;
$ng-paper-color__background_warning: #f5f0c6;

// Danger
$ng-paper-color__danger: #a7342d;
$ng-paper-color__danger-beta: #e6a5a1;
$ng-paper-color__background_danger: #f0cbc9;

// Muted
$ng-paper-color__muted: #868e96;
$ng-paper-color__muted-beta: #caced1;
$ng-paper-color__background_muted: #e6e7e9;


// classes
.text-primary {
  color: $ng-paper-color__primary;
}

.background-primary {
  background-color: $ng-paper-color__background-primary;
}

.text-secondary {
  color: $ng-paper-color__secondary;
}

.background-secondary {
  background-color: $ng-paper-color__background-secondary;
}

.text-success {
  color: $ng-paper-color__success;
}

.background-success {
  background-color: $ng-paper-color__background-success;
}

.text-warning {
  color: $ng-paper-color__warning;
}

.background-warning {
  background-color: $ng-paper-color__background_warning;
}

.text-danger {
  color: $ng-paper-color__danger;
}

.background-danger {
  background-color: $ng-paper-color__background_danger;
}

.text-muted {
  color: $ng-paper-color__muted;
}

.background-muted {
  background-color: $ng-paper-color__background_muted;
}
