@charset "UTF-8";
@import "./colors.scss";
@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"] {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template,
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

.section {
  margin-bottom: 2rem;
  margin-top: 1rem;
  word-wrap: break-word;

  &::after {
    color: #8f8d89;
    content: "~~~";
    display: block;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
  }
}

hr {
  border: 0;

  &::after {
    color: #8f8d89;
    content: "~~~";
    display: block;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    top: -0.75rem;
  }
}

.paper {
  background-color: #fff;
  border: 1px solid $ng-paper-color__background-primary;
  box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 2rem;
}

@media only screen and (max-width: 480px) {
  .paper {
    margin-bottom: 0;
    margin-top: 0;
    padding: 1rem;
    width: 100%;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  &.flex-right {
    justify-content: flex-end;
  }

  &.flex-center {
    justify-content: center;
  }

  &.flex-edges {
    justify-content: space-between;
  }

  &.flex-spaces {
    justify-content: space-around;
  }

  &.flex-top {
    align-items: flex-start;
  }

  &.flex-middle {
    align-items: center;
  }

  &.flex-bottom {
    align-items: flex-end;
  }
}

.col {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-fill {
  flex: 1 1 0;
  width: auto;
}

@media only screen and (min-width: 0) {
  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.align-top {
  align-self: flex-start;
}

.align-middle {
  align-self: center;
}

.align-bottom {
  align-self: flex-end;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

code {
  background-color: #f2f2f2;
  border-radius: 3px;
  color: $ng-paper-color__secondary;
  font-size: 80%;
  padding: 2px 4px;
}

kbd {
  background-color: $ng-paper-color__primary;
  border-radius: 3px;
  color: #fff;
  font-size: 80%;
  padding: 2px 4px;
}

pre {
  background-color: #fafafa;
  border: 1px solid $ng-paper-color__background-primary;
  border-radius: 3px;
  color: $ng-paper-color__primary;
  display: block;
  font-size: 80%;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;

  code {
    background: 0 0;
    color: inherit;
    display: block;
    font-size: inherit;
    padding: initial;
    white-space: pre;
  }
}

html {
  color: $ng-paper-color__primary;
  font-family: Neucha, sans-serif;
  font-size: 20px;
}





.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

img {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid $ng-paper-color__primary;
  display: block;
  height: auto;
  max-width: 100%;

  &.float-left {
    float: left;
    margin: 1rem 1rem 1rem 0;
  }

  &.float-right {
    float: right;
    margin: 1rem 0 1rem 1rem;
  }

  &.no-responsive {
    display: initial;
    height: initial;
    max-width: initial;
  }

  &.no-border {
    border: 0;
    border-radius: 0;
  }
}

ol {
  list-style-type: decimal;

  ol {
    list-style-type: upper-alpha;

    ol {
      list-style-type: upper-roman;

      ol {
        list-style-type: lower-alpha;

        ol {
          list-style-type: lower-roman;
        }
      }
    }
  }
}

ul {
  list-style: none;
  margin-left: 0;

  li {
    &::before {
      content: "-";
    }

    text-indent: -7px;


    [popover-bottom]::after,
    [popover-left]::after,
    [popover-right]::after,
    [popover-top]::after {
      text-indent: 0;
    }

    &::before {
      left: -7px;
      position: relative;
    }
  }

  ul {
    li::before {
      content: "+";
    }

    ul {
      li::before {
        content: "~";
      }

      ul {
        li::before {
          content: "⤍";
        }

        ul li::before {
          content: "⁎";
        }
      }
    }
  }

  &.inline li {
    display: inline;
    margin-left: 5px;
  }
}

table {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;

  thead tr th {
    line-height: 1.5;
    padding: 8px;
    text-align: left;
    vertical-align: bottom;
  }

  tbody tr td {
    border-top: 1px dashed #d9d9d8;
    line-height: 1.5;
    padding: 8px;
    vertical-align: top;
  }

  &.table-hover tbody tr:hover {
    color: $ng-paper-color__secondary;
  }

  &.table-alternating tbody tr:nth-of-type(even) {
    color: #82807c;
  }
}

@media only screen and (max-width: 480px) {
  table {

    thead tr th,
    tbody tr td {
      padding: 2%;
    }
  }
}

.border {
  border: 2px solid $ng-paper-color__primary;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.border-1,
.child-borders> :nth-child(6n + 1) {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.border-2,
.child-borders> :nth-child(6n + 2) {
  border-bottom-left-radius: 185px 25px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 125px 25px;
  border-top-right-radius: 10px 205px;
}

.border-3,
.child-borders> :nth-child(6n + 3) {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px;
}

.border-4,
.child-borders> :nth-child(6n + 4) {
  border-bottom-left-radius: 25px 115px;
  border-bottom-right-radius: 155px 25px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 25px 150px;
}

.border-5,
.child-borders> :nth-child(6n + 5) {
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 15px 105px;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 25px 80px;
}

.border-6 {
  border-bottom-left-radius: 15px 225px;
  border-bottom-right-radius: 20px 205px;
  border-top-left-radius: 28px 125px;
  border-top-right-radius: 100px 30px;
}

.child-borders> {
  :nth-child(6n + 6) {
    border-bottom-left-radius: 15px 225px;
    border-bottom-right-radius: 20px 205px;
    border-top-left-radius: 28px 125px;
    border-top-right-radius: 100px 30px;
  }

  * {
    border: 2px solid $ng-paper-color__primary;
  }
}

.border-white {
  border-color: #fff;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-thick {
  border-width: 5px;
}

.border-primary {
  border-color: $ng-paper-color__primary;
}

.border-secondary {
  border-color: $ng-paper-color__secondary;
}

.border-success {
  border-color: $ng-paper-color__success;
}

.border-warning {
  border-color: $ng-paper-color__warning;
}

.border-danger {
  border-color: $ng-paper-color__danger;
}

.border-muted {
  border-color: $ng-paper-color__muted;
}

.shadow {
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);

  &.shadow-large {
    transition: all 235ms ease 0s;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  }

  &.shadow-small {
    transition: all 235ms ease 0s;
    box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2);
  }

  &.shadow-hover:hover {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  }
}

.child-shadows>* {
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
}

.child-shadows-hover> {
  * {
    transition: all 235ms ease 0s;
    box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  }

  :hover {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
    box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  }
}

.collapsible {
  display: flex;
  flex-direction: column;

  &:nth-of-type(1) {
    border-top: 1px solid $ng-paper-color__background_muted;
  }

  .collapsible-body {
    transition: all 235ms ease-in-out 0s;
    background-color: rgba(204, 204, 204, 0.03);
    border-bottom: 1px solid $ng-paper-color__background_muted;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.75rem;
  }

  input {
    display: none;

    &:checked+label {
      color: $ng-paper-color__primary;
    }

    &[id^="collapsible"]:checked~div.collapsible-body {
      margin: 0;
      max-height: 960px;
      opacity: 1;
      padding: 0.75rem;
    }
  }

  label {
    border-bottom: 1px solid $ng-paper-color__background_muted;
    color: $ng-paper-color__primary;
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 0.75rem;
    text-align: center;

    &:hover {
      color: $ng-paper-color__muted;
      cursor: pointer;
    }
  }
}

article {
  .article-title {
    font-size: 3rem;
  }

  .article-meta {
    color: $ng-paper-color__muted;
    font-size: 15px;

    a {
      background-image: none;
      color: $ng-paper-color__primary;

      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .text-lead {
    font-size: 30px;
    line-height: 1.3;
    margin: 35px;
  }

  button:not(:first-of-type) {
    margin-left: 2rem;
  }

  p {
    line-height: 1.6;
  }
}

@media only screen and (max-width: 480px) {
  article button:not(:first-of-type) {
    margin-left: 0;
  }
}





select {

  &.paper-btn[disabled],
  &[type="button"][disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

textarea {

  &.paper-btn[disabled],
  &[type="button"][disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

a {
  background-image: linear-gradient(5deg,
      transparent 65%,
      $ng-paper-color__secondary 80%,
      transparent 90%),
    linear-gradient(165deg,
      transparent 5%,
      $ng-paper-color__secondary 15%,
      transparent 25%),
    linear-gradient(165deg,
      transparent 45%,
      $ng-paper-color__secondary 55%,
      transparent 65%),
    linear-gradient(15deg,
      transparent 25%,
      $ng-paper-color__secondary 35%,
      transparent 50%);
  background-position: 0 90%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  text-decoration: none;

  &:visited {
    color: $ng-paper-color__primary;
    text-decoration: none;
  }
}







input,
select,
textarea {
  background: 0 0;
  border: 2px solid $ng-paper-color__primary;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  color: $ng-paper-color__primary;
  display: block;
  font-size: 1rem;
  outline: 0;
  padding: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid $ng-paper-color__secondary;
}

select {
  height: 2.35rem;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input {

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

select {

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

textarea {

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.form-group {
  margin-bottom: 1rem;

  >label,
  legend {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .input-block {
    width: 100%;
  }

  textarea {
    max-height: 90vh;
    max-width: 100%;

    &.no-resize {
      resize: none;
    }
  }

  .paper-check,
  .paper-radio {
    cursor: pointer;
    display: block;
    margin-bottom: 0.5rem;
  }

  .paper-check input,
  .paper-radio input {
    border: 0;
    height: 1px;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .paper-check input+span,
  .paper-radio input+span {
    display: block;
  }

  .paper-check input+span::before,
  .paper-radio input+span::before {
    border: 2px solid $ng-paper-color__primary;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: 0.75em;
    position: relative;
    vertical-align: -0.25em;
    width: 1rem;
  }

  .paper-check input[type="radio"]+span::before,
  .paper-radio input[type="radio"]+span::before {
    border-bottom-left-radius: 0.7rem 1rem;
    border-bottom-right-radius: 1rem 0.9rem;
    border-top-left-radius: 1rem 1rem;
    border-top-right-radius: 1rem 0.6rem;
  }

  .paper-check input[type="radio"]:checked+span::before,
  .paper-radio input[type="radio"]:checked+span::before {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%20100%20100'%3E%3Cpath%20fill%3D'%230071de'%20d%3D'M49.346,46.341c-3.79-2.005,3.698-10.294,7.984-8.89%20c8.713,2.852,4.352,20.922-4.901,20.269c-4.684-0.33-12.616-7.405-14.38-11.818c-2.375-5.938,7.208-11.688,11.624-13.837%20c9.078-4.42,18.403-3.503,22.784,6.651c4.049,9.378,6.206,28.09-1.462,36.276c-7.091,7.567-24.673,2.277-32.357-1.079%20c-11.474-5.01-24.54-19.124-21.738-32.758c3.958-19.263,28.856-28.248,46.044-23.244c20.693,6.025,22.012,36.268,16.246,52.826%20c-5.267,15.118-17.03,26.26-33.603,21.938c-11.054-2.883-20.984-10.949-28.809-18.908C9.236,66.096,2.704,57.597,6.01,46.371%20c3.059-10.385,12.719-20.155,20.892-26.604C40.809,8.788,58.615,1.851,75.058,12.031c9.289,5.749,16.787,16.361,18.284,27.262%20c0.643,4.698,0.646,10.775-3.811,13.746'%3E%3C/path%3E%3C/svg%3E") left center no-repeat;
  }

  .paper-check input[type="checkbox"]+span::before,
  .paper-radio input[type="checkbox"]+span::before {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
  }

  .paper-check input[type="checkbox"]:checked+span::before,
  .paper-radio input[type="checkbox"]:checked+span::before {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%20100%20100'%3E%3Cpath%20stroke%3D'%230071de'%20fill-opacity%3D'0'%20stroke-width%3D'16'%20d%3D'm13,62c0.61067,1.6%201.3045,2.3045%201.75717,2.75716c0.72683,0.72684%201.24283,1.24284%202.07617,2.07617c0.54133,0.54133%201.04116,1.06035%201.82833,1.82383c0.5781,0.5607%201.00502,0.96983%202.02633,1.74417c0.55877,0.42365%201.191,0.84034%201.884,1.284c1.16491,0.74577%201.59777,1.00147%202.5,1.55067c0.4692,0.28561%201.43689,0.86868%201.93067,1.16534c0.99711,0.59904%201.99667,1.19755%202.49283,1.49866c0.98501,0.59779%201.47073,0.89648%201.94733,1.2c1.3971,0.88972%201.83738,1.19736%202.7,1.7955c0.42201,0.29262%201.24022,0.87785%202.05583,1.41917c0.79531,0.52785%201.59376,1.0075%202.38,1.43867c0.74477,0.40842%201.45167,0.75802%202.37817,1.22517c0.76133,0.38387%201.54947,0.82848%202.40717,1.41084c0.7312,0.49647%201.49563,1.08231%202.27884,1.258c0.35564,0.07978%200.14721,-0.95518%200.35733,-1.86867c0.18092,-0.78651%200.98183,-1.2141%200.99983,-2.07867c0.02073,-0.99529%200.07916,-1.79945%200.42533,-2.56133c0.43607,-0.95973%200.53956,-1.66774%200.79617,-2.68183c0.18888,-0.74645%200.39764,-1.31168%200.7785,-2.6235c0.20865,-0.71867%200.41483,-1.48614%200.708,-2.28c0.15452,-0.41843%200.77356,-1.73138%201.348,-2.64133c0.30581,-0.48443%200.65045,-0.97043%201.0065,-1.4745c0.74776,-1.05863%201.1531,-1.60163%201.9375,-2.77084c0.40621,-0.60548%200.80272,-1.23513%201.2045,-1.8765c0.40757,-0.65062%200.81464,-1.31206%201.2315,-1.9755c0.41946,-0.66757%200.83374,-1.34258%201.73067,-2.648c0.44696,-0.65053%200.91436,-1.28356%201.386,-1.9095c0.46972,-0.6234%200.94725,-1.2364%201.422,-1.8465c0.94116,-1.20947%201.86168,-2.40844%202.30367,-3.0105c0.438,-0.59664%200.86246,-1.19396%201.27501,-1.7895c0.40743,-0.58816%200.80352,-1.17234%201.185,-1.7535c1.10526,-1.68381%201.44079,-2.23511%201.77633,-2.7705c0.32878,-0.52461%200.96306,-1.5459%201.27467,-2.04c0.60654,-0.96177%201.20782,-1.88193%201.51051,-2.325c0.59013,-0.86381%201.17888,-1.68032%201.46416,-2.075c0.5498,-0.76063%201.31747,-1.8231%201.77883,-2.4895c0.43918,-0.63437%200.85266,-1.25267%201.45717,-2.15717c0.59549,-0.891%200.96531,-1.46814%201.51466,-2.22933c0.58413,-0.80936%201.12566,-1.40253%201.83801,-2.12333c0.61304,-0.62031%200.45171,-1.48306%200.7045,-2.34733c0.25668,-0.87762%200.75447,-1.62502%201,-2.40983c0.25128,-0.8032%200.7633,-1.39453%201.33217,-2.25417c0.54528,-0.82398%200.73415,-1.6714%201.31516,-2.336c0.55639,-0.63644%201.38658,-1.22588%201.8595,-1.9c0.5082,-0.72441%200.78867,-1.4%201.60266,-1.56667l0.71184,-0.4905'%3E%3C/path%3E%3C/svg%3E") left center no-repeat;
  }
}

fieldset.form-group {
  border: 0;
  padding: 0;
}

.modal {
  transition: opacity 235ms ease-in-out 0s;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  flex: 1 1 auto;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  visibility: hidden;
  word-wrap: break-word;
  z-index: 12;
}

.modal-bg {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  .modal-body {
    transition: all 235ms ease-in-out 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    border: 2px solid $ng-paper-color__background_muted;
    left: 50%;
    padding: 1.25rem;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn-close {
    transition: all 235ms ease-in-out 0s;
    color: $ng-paper-color__background-primary;
    cursor: pointer;
    font-size: 30px;
    height: 1.1rem;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
    width: 1.1rem;

    &:active,
    &:focus,
    &:hover {
      color: $ng-paper-color__primary;
    }
  }

  .modal-title,
  h4 {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .modal-subtitle,
  h5 {
    color: $ng-paper-color__secondary;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .modal-text,
  p {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .modal-link+.modal-link,
  a+a {
    margin-left: 1.25rem;
  }


  .modal-link,
  a {
    background-image: linear-gradient(5deg,
        transparent 65%,
        $ng-paper-color__secondary 80%,
        transparent 90%),
      linear-gradient(165deg,
        transparent 5%,
        $ng-paper-color__secondary 15%,
        transparent 25%),
      linear-gradient(165deg,
        transparent 45%,
        $ng-paper-color__secondary 55%,
        transparent 65%),
      linear-gradient(15deg,
        transparent 25%,
        $ng-paper-color__secondary 35%,
        transparent 50%);
    background-position: 0 90%;
    background-repeat: repeat-x;
    background-size: 4px 3px;
    cursor: pointer;
    text-decoration: none;
  }

  .modal-link {

    &:focus,
    &:hover,
    &:visited {
      color: $ng-paper-color__primary;
      text-decoration: none;
    }
  }

  a {

    &:focus,
    &:hover,
    &:visited {
      color: $ng-paper-color__primary;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal .modal-body {
    box-sizing: border-box;
    width: 90%;
  }
}

.modal-state {
  display: none;

  &:checked+.modal {
    opacity: 1;
    visibility: visible;

    .modal-body {
      top: 50%;
    }
  }
}

[popover-bottom],
[popover-left],
[popover-right],
[popover-top] {
  margin: 24px;
  position: relative;
}

[popover-bottom]:hover::after,
[popover-left]:hover::after,
[popover-right]:hover::after,
[popover-top]:hover::after {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

[popover-bottom]::after,
[popover-left]::after,
[popover-right]::after,
[popover-top]::after {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: opacity 235ms ease-in-out 0s;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid $ng-paper-color__primary;
  color: #fff;
  font-size: 0.7em;
  left: 50%;
  min-width: 80px;
  opacity: 0;
  padding: 4px 2px;
  position: absolute;
  text-align: center;
  top: -6px;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
}

[popover-left] {
  &::before {
    left: 0;
    margin-left: -12px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }

  &::after {
    content: attr(popover-left);
    left: 0;
    margin-left: -8px;
    top: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
  }
}

[popover-right] {
  &::before {
    left: 100%;
    margin-left: 1px;
    top: 50%;
    -webkit-transform: translatey(-50%) rotate(90deg);
    transform: translatey(-50%) rotate(90deg);
  }

  &::after {
    content: attr(popover-right);
    left: 100%;
    margin-left: 8px;
    top: 50%;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

[popover-top] {
  &::before {
    left: 50%;
  }

  &::after {
    content: attr(popover-top);
    left: 50%;
  }
}

[popover-bottom] {
  &::before {
    margin-top: 8px;
    top: 100%;
    -webkit-transform: translateX(-50%) translatey(-100%) rotate(-180deg);
    transform: translateX(-50%) translatey(-100%) rotate(-180deg);
  }

  &::after {
    content: attr(popover-bottom);
    margin-top: 8px;
    top: 100%;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

.progress {
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 15px 105px;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 25px 80px;
  border: 2px solid $ng-paper-color__primary;
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  height: 1.2rem;
  overflow: hidden;
  width: 100%;

  .bar {
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 15px 105px;
    border-top-left-radius: 250px 15px;
    border-top-right-radius: 25px 80px;
    transition: all 235ms ease-in-out 0s;
    background-color: $ng-paper-color__background-primary;
    border-right: 2px solid $ng-paper-color__primary;
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 0%;

    &.striped {
      background: repeating-linear-gradient(45deg,
          $ng-paper-color__background-primary,
          $ng-paper-color__background-primary 0.25rem,
          #a8a6a3 0.25rem,
          #a8a6a3 0.5rem);
    }

    &.primary {
      background-color: $ng-paper-color__background-primary;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background-primary,
            $ng-paper-color__background-primary 0.25rem,
            #a8a6a3 0.25rem,
            #a8a6a3 0.5rem);
      }
    }

    &.secondary {
      background-color: $ng-paper-color__background-secondary;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background-secondary,
            $ng-paper-color__background-secondary 0.25rem,
            #abd6ff 0.25rem,
            #abd6ff 0.5rem);
      }
    }

    &.success {
      background-color: $ng-paper-color__background-success;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background-success,
            $ng-paper-color__background-success 0.25rem,
            #b7c9a1 0.25rem,
            #b7c9a1 0.5rem);
      }
    }

    &.warning {
      background-color: $ng-paper-color__background_warning;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background_warning,
            $ng-paper-color__background_warning 0.25rem,
            #ede49b 0.25rem,
            #ede49b 0.5rem);
      }
    }

    &.danger {
      background-color: $ng-paper-color__background_danger;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background_danger,
            $ng-paper-color__background_danger 0.25rem,
            #e6a5a1 0.25rem,
            #e6a5a1 0.5rem);
      }
    }

    &.muted {
      background-color: $ng-paper-color__background_muted;

      &.striped {
        background: repeating-linear-gradient(45deg,
            $ng-paper-color__background_muted,
            $ng-paper-color__background_muted 0.25rem,
            #caced1 0.25rem,
            #caced1 0.5rem);
      }
    }

    &.w-0 {
      width: 0%;
    }

    &.w-1 {
      width: 1%;
    }

    &.w-2 {
      width: 2%;
    }

    &.w-3 {
      width: 3%;
    }

    &.w-4 {
      width: 4%;
    }

    &.w-5 {
      width: 5%;
    }

    &.w-6 {
      width: 6%;
    }

    &.w-7 {
      width: 7%;
    }

    &.w-8 {
      width: 8%;
    }

    &.w-9 {
      width: 9%;
    }

    &.w-10 {
      width: 10%;
    }

    &.w-11 {
      width: 11%;
    }

    &.w-12 {
      width: 12%;
    }

    &.w-13 {
      width: 13%;
    }

    &.w-14 {
      width: 14%;
    }

    &.w-15 {
      width: 15%;
    }

    &.w-16 {
      width: 16%;
    }

    &.w-17 {
      width: 17%;
    }

    &.w-18 {
      width: 18%;
    }

    &.w-19 {
      width: 19%;
    }

    &.w-20 {
      width: 20%;
    }

    &.w-21 {
      width: 21%;
    }

    &.w-22 {
      width: 22%;
    }

    &.w-23 {
      width: 23%;
    }

    &.w-24 {
      width: 24%;
    }

    &.w-25 {
      width: 25%;
    }

    &.w-26 {
      width: 26%;
    }

    &.w-27 {
      width: 27%;
    }

    &.w-28 {
      width: 28%;
    }

    &.w-29 {
      width: 29%;
    }

    &.w-30 {
      width: 30%;
    }

    &.w-31 {
      width: 31%;
    }

    &.w-32 {
      width: 32%;
    }

    &.w-33 {
      width: 33%;
    }

    &.w-34 {
      width: 34%;
    }

    &.w-35 {
      width: 35%;
    }

    &.w-36 {
      width: 36%;
    }

    &.w-37 {
      width: 37%;
    }

    &.w-38 {
      width: 38%;
    }

    &.w-39 {
      width: 39%;
    }

    &.w-40 {
      width: 40%;
    }

    &.w-41 {
      width: 41%;
    }

    &.w-42 {
      width: 42%;
    }

    &.w-43 {
      width: 43%;
    }

    &.w-44 {
      width: 44%;
    }

    &.w-45 {
      width: 45%;
    }

    &.w-46 {
      width: 46%;
    }

    &.w-47 {
      width: 47%;
    }

    &.w-48 {
      width: 48%;
    }

    &.w-49 {
      width: 49%;
    }

    &.w-50 {
      width: 50%;
    }

    &.w-51 {
      width: 51%;
    }

    &.w-52 {
      width: 52%;
    }

    &.w-53 {
      width: 53%;
    }

    &.w-54 {
      width: 54%;
    }

    &.w-55 {
      width: 55%;
    }

    &.w-56 {
      width: 56%;
    }

    &.w-57 {
      width: 57%;
    }

    &.w-58 {
      width: 58%;
    }

    &.w-59 {
      width: 59%;
    }

    &.w-60 {
      width: 60%;
    }

    &.w-61 {
      width: 61%;
    }

    &.w-62 {
      width: 62%;
    }

    &.w-63 {
      width: 63%;
    }

    &.w-64 {
      width: 64%;
    }

    &.w-65 {
      width: 65%;
    }

    &.w-66 {
      width: 66%;
    }

    &.w-67 {
      width: 67%;
    }

    &.w-68 {
      width: 68%;
    }

    &.w-69 {
      width: 69%;
    }

    &.w-70 {
      width: 70%;
    }

    &.w-71 {
      width: 71%;
    }

    &.w-72 {
      width: 72%;
    }

    &.w-73 {
      width: 73%;
    }

    &.w-74 {
      width: 74%;
    }

    &.w-75 {
      width: 75%;
    }

    &.w-76 {
      width: 76%;
    }

    &.w-77 {
      width: 77%;
    }

    &.w-78 {
      width: 78%;
    }

    &.w-79 {
      width: 79%;
    }

    &.w-80 {
      width: 80%;
    }

    &.w-81 {
      width: 81%;
    }

    &.w-82 {
      width: 82%;
    }

    &.w-83 {
      width: 83%;
    }

    &.w-84 {
      width: 84%;
    }

    &.w-85 {
      width: 85%;
    }

    &.w-86 {
      width: 86%;
    }

    &.w-87 {
      width: 87%;
    }

    &.w-88 {
      width: 88%;
    }

    &.w-89 {
      width: 89%;
    }

    &.w-90 {
      width: 90%;
    }

    &.w-91 {
      width: 91%;
    }

    &.w-92 {
      width: 92%;
    }

    &.w-93 {
      width: 93%;
    }

    &.w-94 {
      width: 94%;
    }

    &.w-95 {
      width: 95%;
    }

    &.w-96 {
      width: 96%;
    }

    &.w-97 {
      width: 97%;
    }

    &.w-98 {
      width: 98%;
    }

    &.w-99 {
      width: 99%;
    }

    &.w-100 {
      width: 100%;
    }

    &.w-0,
    &.w-100 {
      border-right: 0;
    }
  }
}

.tabs {
  .content {
    display: none;
    padding: 0.75rem 0 0;
  }

  input {
    display: none;

    &:checked+label {
      border-bottom: solid 3px $ng-paper-color__secondary;
      color: $ng-paper-color__primary;
    }

    &[id="tab1"]:checked~div[id="content1"],
    &[id="tab2"]:checked~div[id="content2"],
    &[id="tab3"]:checked~div[id="content3"],
    &[id="tab4"]:checked~div[id="content4"],
    &[id="tab5"]:checked~div[id="content5"] {
      display: block;
    }
  }

  label {
    color: $ng-paper-color__background-primary;
    display: inline-block;
    font-weight: 600;
    margin: 0 0 -1px;
    padding: 0.75rem;
    text-align: center;

    &:hover {
      color: $ng-paper-color__muted;
      cursor: pointer;
    }
  }
}

.margin {
  margin: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-large {
  margin-top: 2rem;
}

.margin-top-small {
  margin-top: 0.5rem;
}

.margin-top-none {
  margin-top: 0;
}

.margin-right {
  margin-right: 1rem;
}

.margin-right-large {
  margin-right: 2rem;
}

.margin-right-small {
  margin-right: 0.5rem;
}

.margin-right-none {
  margin-right: 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-large {
  margin-bottom: 2rem;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left {
  margin-left: 1rem;
}

.margin-left-large {
  margin-left: 2rem;
}

.margin-left-small {
  margin-left: 0.5rem;
}

.margin-left-none {
  margin-left: 0;
}

.margin-large {
  margin: 2rem;
}

.margin-small {
  margin: 0.5rem;
}

.margin-none {
  margin: 0;
}

.padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-top-large {
  padding-top: 2rem;
}

.padding-top-small {
  padding-top: 0.5rem;
}

.padding-top-none {
  padding-top: 0;
}

.padding-right {
  padding-right: 1rem;
}

.padding-right-large {
  padding-right: 2rem;
}

.padding-right-small {
  padding-right: 0.5rem;
}

.padding-right-none {
  padding-right: 0;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-large {
  padding-bottom: 2rem;
}

.padding-bottom-small {
  padding-bottom: 0.5rem;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left {
  padding-left: 1rem;
}

.padding-left-large {
  padding-left: 2rem;
}

.padding-left-small {
  padding-left: 0.5rem;
}

.padding-left-none {
  padding-left: 0;
}

.padding-large {
  padding: 2rem;
}

.padding-small {
  padding: 0.5rem;
}

.padding-none {
  padding: 0;
}

nav {
  background-color: #fff;
  display: flex;
  padding: 0.3rem;
  position: relative;
  width: 100%;
  z-index: 100;

  .bar1,
  .bar2,
  .bar3 {
    background-color: $ng-paper-color__primary;
    border-bottom: 5px solid $ng-paper-color__primary;
    border-bottom-left-radius: 15px 5px;
    border-bottom-right-radius: 15px 3px;
    color: $ng-paper-color__primary;
    margin: 6px 0;
    transition: 0.4s;
    width: 2rem;
  }

  .collapsible input[id^="collapsible"]:checked+button {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 7px);
      transform: rotate(-45deg) translate(-9px, 7px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -9px);
      transform: rotate(45deg) translate(-8px, -9px);
    }
  }

  &.split-nav {
    justify-content: space-between;
  }

  &.fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  div {
    margin: 0 1rem;
  }

  ul.inline {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }

  a {
    background-image: none;
    border-bottom: 5px solid $ng-paper-color__primary;
    border-bottom-left-radius: 15px 3px;
    border-bottom-right-radius: 15px 5px;
    color: $ng-paper-color__primary;
    padding-bottom: 0.1rem;

    &:hover {
      border-bottom: 5px solid $ng-paper-color__background-primary;
    }
  }

  ul.inline li {
    a {
      font-size: 1.3rem;
    }

    &::before {
      content: "";
    }
  }

  .nav-brand {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      margin-bottom: 0.2rem;
    }
  }

  .collapsible {
    input[id^="collapsible"]:checked~div.collapsible-body {
      margin: 0;
      max-height: 960px;
      opacity: 1;
      padding: 0;
    }

    .collapsible-body,
    &:nth-of-type(1) {
      border: 0;
    }
  }

  div.collapsible-body {
    padding: none;
  }

  .collapsible {
    label {
      border-bottom: 0;
      padding: 0;
    }

    >button {
      background-color: #fff;
      display: none;
      font-size: 0.5rem;
      margin-right: 1rem;
      padding: 0.25rem;
      position: absolute;
      right: 0;
      top: 0.2rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  nav ul.inline li {
    display: block;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 992px) {
  nav ul {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  nav .collapsible {

    .collapsible-body,
    &:nth-of-type(1) {
      display: contents;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav .collapsible>button {
    display: block;
  }
}
