@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Patrick Hand SC", sans-serif;
  font-weight: 400;
}

h1,
.h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
.h1 {
  font-size: 4rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}


a,
button,
input,
option,
p,
select,
table,
tbody,
td,
textarea,
th,
thead,
tr {
  font-family: Neucha, sans-serif;
}
